div.LED1 {
    position: absolute;
    top: 20%;
    left: 1%;
    width: 45%;
    height: 38%;
    border: 3px solid #8AC007;
}

div.LED2 {
    position: absolute;
    top: 20%;
    left: 48%;
    width: 45%;
    height: 70%;
    border: 3px solid #8AC007;
}